<div class="main-container">
  <div fxLayout="column" fxLayoutAlign="center center">
    <form [formGroup]="userForm" novalidate>
      <table class="table-width">
        <tr>
          <td>
            <mat-form-field class="table-width">
              <input matInput placeholder="First Name" name="firstName" formControlName="firstName">
            </mat-form-field>
            <show-errors [control]="userForm.controls.firstName"></show-errors>
          </td>
          <td>
            <mat-form-field class="table-width">
              <input matInput placeholder="Last Name" name="lastName" formControlName="lastName">
            </mat-form-field>
            <show-errors [control]="userForm.controls.lastName"></show-errors>
          </td>
        </tr>
      </table>
      <table class="table-width">
        <td>
          <mat-form-field class="field-width">
            <mat-select placeholder="Country" name="country" [(ngModel)]="selectedCountry" formControlName="country"  (change)="optionSelected($event)">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let country of countries" [value]="country">
                {{country.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <show-errors [control]="userForm.controls.country"></show-errors>
        </td>
        <td>
          <mat-form-field class="field-width">
            <mat-select placeholder="Language" name="language" formControlName="language">
              <mat-option *ngFor="let language of languages" [value]="language">
                {{ language }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <show-errors [control]="userForm.controls.language"></show-errors>
        </td>
      </table>
      <table>
        <tr>
          <td>
            <span class="checkbox-label">
              <mat-checkbox class="example-margin" id="male" #male (change)="handleCheckBox($event)"> Male </mat-checkbox>
            </span>
            <span class="checkbox-label">
              <mat-checkbox class="example-margin" id="female" #female (change)="handleCheckBox($event)"> Female </mat-checkbox>
            </span>
          </td>
          <td style="padding-left: 30px;">
            <mat-form-field>
              <input matInput placeholder="Enter your email" name="email" formControlName="email">
            </mat-form-field>
            <show-errors [control]="userForm.controls.email"></show-errors>
          </td>
        </tr>
      </table>
      <div>
        <button class="btn btn-proceed" type="submit">
          PROCEED
        </button>
      </div>
    </form>


  </div>
</div>