/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato');


body {
    background: #2E9CE6;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    padding: 3em;
}
ul {
    list-style: none;
    margin: 0 0 2em 0;
    padding: 0;
}
ul li  {
    display: inline;
    margin-right: 24px;
}
ul li a {
    font-size: 1em;
}
a {
    color:#ffffff;
    text-decoration: none;
}